---
---
@import "typography"

$featured: #fff

body
  margin: 0
  padding: 0
  font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif

.cntr
  display: flex
  justify-content: center
  width: 100vw
  *
    display: block

.wrapper
  width: 860px
  max-width: 90%
  text-align: center

body
  background:  url(../img/fhbg.jpg)
  background-size: cover
  background-attachment: fixed

#featured
  background: rgba(0,0,0,.5)
  height: 400px
  text-align: center
  h1
    display: block
    width: 100%
    margin: 0
    padding: 1em 0
    font-size: 3em
    color: $featured
  p
    width: 300px
    max-width: 80%
    margin: 0 auto
    padding-bottom: 5em
    color: $featured
  a
    color: $featured
    text-decoration: none
    padding: 15px 20px
    border: 2px solid $featured
    border-radius: 200px
    &:hover
      background-color: rgba(255, 255, 255, .3)

.articles
  height: 200vh
